h1 {
  text-align: center;
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-basis: content;
}

.pokemon {
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info {
  text-align: center;
}
