* {
    margin: 0;
    padding: 0;
    
}

#body {
    
}


#pag-1 {
    /* border: 3px rgb(0, 255, 234) solid; */
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    
}

#caixa1 {
    /* border: 3px red solid; */
    align-items: top;
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 50px;


}

/* #portifolio {
    color: white;
    border: 3px rgb(38, 0, 255) solid;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 30px;
    width: 100%;
    height:0%;
   
    
} */


#titulo-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px blue solid; */
    margin-top: 30px;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

#caixa-titulo {
    /* border: 3px rgb(9, 255, 0) solid; */
    margin-top: 30px;
}

#caixa2 {
    /* border: 3px red solid; */
}

#subtitulo {
    font-size: 25px;
    color: gray;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#caixa-sites {
    display: flex;
    justify-content: center ;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    /* border: 3px yellow solid;
     */
}


#caixa-insta {
    /* border-right: 10px white solid; */

}

#caixa-git {
    /* border-right: 10px white solid; */
}

#caixa-linked {

}

#palavra-sobre-mim {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    /* border: 3px pink solid; */
}

#palavra-instagram {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    /* border: 3px blue solid; */
}

#palavra-github {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    /* border: 3px pink solid; */
}

#palavra-linkedln {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    /* border: 3px purple solid; */
}

#caixa-de-fotos {
    /* border: 3px red solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


#img-1 {
    width: 170px;
    display: inline-block;
    border-radius: 100%;
}

#img-2 {
    width: 170px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 100%;
}

#img-3 {
    width: 170px;
    display: inline-block;
    border-radius: 100%;
}


#caixa-apresent {
    /* border: 3px blue solid; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(223, 223, 223);
    height: 100vh;
    align-items: center;
}

#txt-box {
    /* border: 3px orange solid; */
    margin-left: 120px;
    height: 100%; 
    align-items: center;
    flex-direction: column;
    display: flex;  
    justify-content: center;
}

#apresent-1 {
    /* border: 3px yellow solid; */
    font-size: 40px;
    margin-top: 50px;
}

#apresent-2 {
    /* border: 3px rgb(255, 0, 170) solid; */
    font-size: 20px;
    margin-top: 10px;
}

#nome {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#apresent-3 {
    /* border: 3px rgb(255, 0, 0) solid; */
    margin-top: 100px;
}

#site-trybe {
    text-decoration: none;
    color: rgb(0, 141, 82);
}

#apresent-4 {
    /* border: 3px rgb(60, 255, 0) solid; */
}

#apresent-5 {
    /* border: 3px rgb(251, 255, 0) solid; */
    margin-top: 40px;
}

#lista-q {
    /* border: 3px rgb(102, 104, 21) solid; */
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    list-style: none;

}

.list {
    text-decoration: none;
    /* border: 3px rgb(104, 21, 21) solid; */
    font-size: 15px;
    color: rgb(53, 53, 53);
    
}

#img-trybe {
    /* border: 3px red solid; */
    display: flex;
    flex-direction: column;
    margin-top: px;
    justify-content: space-around;
    margin-right: 100px;
    height: 90%;
    /* border: 3px red solid; */
}

#img-trybe-1 {
    width: 150px;
    border-radius: 100%;
}

#img-trybe-2 {
    width: 150px;
    border-radius: 100%;
}

#img-trybe-3 {
    width: 150px;
    border-radius: 100%;
}