body {
  margin-top: 50px;
}

.grupo {
  margin-top: 10px;
}

.flex {
  display: flex;
}

.form-check {
  margin-right: 15px;
}

.top10px {
  margin-top: 10px;
}

.top20px {
  margin-top: 20px;
}

.bottom20px {
  margin-bottom: 20px;
} 

.max400px {
  max-width: 400px;
}

.max150px {
  max-width: 150px;
}
